{% extends 'basic.html'%}
{% block css%}
{% endblock%}
{% block body%}
<div class="jumbotron container mt-4" style="color:white;background: linear-gradient(to right, rgb(0, 0, 70), rgb(28, 181, 224));">
    <h1 class="display-4">Hello, BOSS!</h1>
    <p class="lead">This is a advanced to do app,a feature fullfill app</p>
    <hr class="my-4">
    <p>its is very secure cause it implement password encription </p>
    <p class="lead">
      <a class="btn btn-light btn-lg" href="/todo/notes/" role="button">START</a>
    </p>
  </div>
{% endblock%}